<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="post">
    <label class="sr-only" for="room-id"> </label>
    <input
      type="password"
      name="password"
      id="room-pass"
      placeholder="Insira uma senha"
    />
    <button id='passButton'>
      <div><img src="images/users 2.svg" alt="dois anonimos" /></div>
      Criar sala
    </button>
  </form>
</section>



