<div class="no-questions">
  <img src="/images/noQuestion.png" alt="" />
  <h2>Nenhuma pergunta por aqui...</h2>
  <p>
    Faça sua primeira pergunta <br />
    e convite outras pessoas!
  </p>
</div>
